.gradient-button {
  background-image: linear-gradient(to right, #2563eb, #9333ea, #4f46e5);
  color: white;
}

.gradient-button-secondary {
  background-image: linear-gradient(to right, #e5e7eb, #d1d5db);
  color: #1f2937;
}

.gradient-button-secondary:hover {
  background-image: linear-gradient(to right, #d1d5db, #9ca3af);
}

@media (prefers-color-scheme: dark) {
  .gradient-button-secondary {
    background-image: linear-gradient(to right, #374151, #1f2937);
    color: #e5e7eb;
  }
}

.gradient-primary {
  background-image: linear-gradient(to right, #2563eb, #4338ca);
}